<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Signup</h1>

  <form action="/signup" method="POST">

  <input type="email" name="email" id="email" placeholder="Email Address">
  <br>
  <input type="text" name="username" id="username" placeholder="Username">
  <br>
  <input type="password" name="password" id="password" placeholder="Password">
  <br>
  <input type="submit" value="Create User">

  </form>

</body>
</html>