<!DOCTYPE HTML>
<html>
<head>
    <title>CSR Portal</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">

    <!-- Animate.css -->
    <link rel="stylesheet" href="css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="css/icomoon.css">

    <!-- PopUp CSS-->
    <link rel="stylesheet" href="css/donation-popup.css">

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="css/magnific-popup.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Modernizr JS -->
    <script src="js/modernizr-2.6.2.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>

    <![endif]-->

    <link href="https://fonts.googleapis.com/css?family=Markazi+Text" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

    <!-- jQuery UI-->
    <script src="js/jquery-ui.min.js"></script>

    <!-- POPUP SCRIPT-->
    <script>
        $(document).ready(function () {
            $("#donate-us").click(function () {
                $('#myModal').modal('show');
            });
        });
    </script>


<script>
        $(document).ready(function () {
            $("#sign-up").click(function () {
                $('#myModal-signup').modal('show');
            });
        });
    </script>

<script>
    $(document).ready(function () {
        $("#sign-up-bottom").click(function () {
            $('#myModal-signup').modal('show');
        });
    });
</script>

<script>
        $(document).ready(function () {
            $("#new-magic").click(function () {
                $('#newsModal').modal('show');
            });
        });
    </script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <style>
        html {
            scroll-behavior: smooth;
        }

        .more {
            font-family: 'Markazi Text', serif;
            float: right;
            margin-right: 200px;
            font-size: 30px
        }

        .more:hover {
            color: #F79F1F;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="container">
            <div class="row">
                <div class="col-xs-2 text-left">
                    <div id="fh5co-logo">
                        <div>
                        <img src="satya.png">
                        </div>
                        <div id="titleSetting">
                        <a href="index.html">CSR Portal</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>


                        <li><a href="#fh5co-services">Upcoming Events</a></li>
                        <li><a href="#fh5co-project">Categories</a></li>
                        <li><a  href="/profile">Profile</a></li>
                        <li><a  id="new-magic">News</a></li>
                        <li><a href="http://csrportal.forumotion.com" target="_blank">Forum</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    
    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/slider.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 text-left">
                    <div style="text-align:center" class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeInUp">
                               <span style="margin-left: -440px; display: none;" id="news-magic"> <a class="twitter-timeline" data-width="400" data-height="600" data-link-color="#E81C4F" href="https://twitter.com/INDIACSR?ref_src=twsrc%5Etfw">Tweets by INDIACSR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                        </div>
                </div>
            </div>
        </div>
    </header>
<!-- =================================Patti============================================================ -->
<section class="bg-img pt70 pb70" style="background-image: url('assets/img/bg/bg-img.jpg');">
    <div class="overlay_dark"></div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="countdown" id="counter">
                <div id="companies">00 <span>Total No. of      <br> Companies      </span></div>
                <div id="amount">00<span> Total Amount Spent<br> on CSR (INR Cr.)</span></div>
                <div id="projects">00<span>Total No. of<br> CSR Projects</span></div>
                <div id="sectors">00<span>Development Sectors<br> Entered by Companies</span></div>
            </div>
        </div>
      </div>
    </div>
  </section>
<!-- ========================================EndOfPatti======================================================= -->

    <div id="fh5co-services" class="fh5co-bg-section border-bottom">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 text-left animate-box" data-animate-effect="fadeInUp">
                    <div class="fh5co-heading">
                        <h2>Upcoming Events</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4 col-sm-6 ">
                    <a href="/viewEvent">
                    <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                      <div class="eventImage">    

                      </div>
                    <div>
                        <h3>Women Empowerment</h3>
                        <p>Host : Assam</p>
                    </div>
                     <!--   <p><a href="#">Learn more</a></p> -->
                    </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 ">
                    <a href="/viewEvent"></a>
                        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                          <div class="eventImage">                
                          </div>
                        <div>
                                <h3><a href="#">Women Empowerment</a> </h3>
                                <p>Host : Delhi</p>
                        </div>
                         <!--   <p><a href="#">Learn more</a></p> -->
                        </div>
                        </a>
                    </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-4 col-sm-6 ">
                        <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                          <div class="eventImage">                
                          </div>
                        <div>
                                <h3><a href="#">Women Empowerment</a> </h3>
                                <p>Host : Indore</p>
                        </div>
                         <!--   <p><a href="#">Learn more</a></p> -->
                        </div>
                    </div>
                <div class="clearfix visible-md-block"></div>

                    <span>
                       <center> <a href="#">More Upcoming Events </a></center>
                    </span>


            </div>
        </div>
    </div>

    <div id="fh5co-project">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-8 col-md-offset-2 text-left fh5co-heading  animate-box">
                    <span>Want to Contribute...?</span>
                    <h2>Categories</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="images/Health.png" alt="Health"
                                     class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>CSR</h3>
                            <p>Health Category</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="images/Armed Forces.png" alt="Armed Forces"
                                     class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>CSR</h3>
                            <p>Armed Forces Category</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                    <a href="#"><img src="images/Education.png" alt="Education"
                                     class="img-responsive">
                        <div class="fh5co-copy">
                            <h3>CSR</h3>
                            <p>Education Category</p>
                        </div>
                    </a>
                </div>
                

            </div>

            <div class="row">
                    <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                        <a href="#"><img src="images/Envrionment.png" alt="Envrionment"
                                         class="img-responsive">
                            <div class="fh5co-copy">
                                <h3>CSR</h3>
                                <p>Envrionment Category</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                        <a href="#"><img src="images/Gender Equality.png" alt="Gender Equality"
                                         class="img-responsive">
                            <div class="fh5co-copy">
                                <h3>CSR</h3>
                                <p>Equality Category</p>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                        <a href="#"><img src="images/Heritage.png" alt="Heritage"
                                         class="img-responsive">
                            <div class="fh5co-copy">
                                <h3>CSR</h3>
                                <p>Heritage Category</p>
                            </div>
                        </a>
                    </div>
                    
    
                </div>

                <div class="row">
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a href="#"><img src="images/Relief Fund.png" alt="Relief Fund"
                                             class="img-responsive">
                                <div class="fh5co-copy">
                                    <h3>CSR</h3>
                                    <p>Relief Fund Category</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a href="#"><img src="images/Rural Development.png" alt="Rural Development"
                                             class="img-responsive">
                                <div class="fh5co-copy">
                                    <h3>CSR</h3>
                                    <p>Rural Development Category</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                            <a href="#"><img src="images/Slum Area Development.png" alt="Slum Area Development"
                                             class="img-responsive">
                                <div class="fh5co-copy">
                                    <h3>CSR</h3>
                                    <p>Slum Area Development Category</p>
                                </div>
                            </a>
                        </div>
                        
        
                    </div>


                    <div class="row">
                            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                                <a href="#"><img src="images/Sports.png" alt="Sports"
                                                 class="img-responsive">
                                    <div class="fh5co-copy">
                                        <h3>CSR</h3>
                                        <p>Sports Category </p>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                                <a href="#"><img src="images/Swachh Bharat.png" alt="Swachh Bharat"
                                                 class="img-responsive">
                                    <div class="fh5co-copy">
                                        <h3>CSR</h3>
                                        <p>Swachh Bharat Category</p>
                                    </div>
                                </a>
                            </div>
                            <!--<div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                                <a href="#"><img src="#" alt=""
                                                 class="img-responsive">
                                    <div class="fh5co-copy">
                                        <h3>CSR</h3>
                                        <p>A token of apprectiation from us</p>
                                    </div>
                                </a>
                            </div>-->
                        </div>
        </div>
       
    </div>


    <div id="fh5co-started" style="background-image:url('./images/back.jpg')">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Contribute and help us to grow more</h2>
                    <p>Corporate Social Responsibility is a management concept whereby  companies integrate social and environmental concerns in their business  operations and interactions with their stakeholders. CSR is generally  understood as being the way through which a company achieves a balance  of economic, environmental and social imperatives (“Triple-Bottom-Line-  Approach”), while at the same time addressing the expectations of  shareholders and stakeholders.</p>
                    <p>
                        <button type="submit" class="btn btn-primary" id="sign-up-bottom">Signup</button>
                    </p>




                </div>
            </div>


        </div>
    </div>
</div>


<!--Footer-->
<div id="footer">
    <div class="flex-container">
        <div class="about">
            <h3>CSR Portal</h3>
            <p>Help to Grow India</p>
            <div class="social-buttons">
                <ul>
                    <li class="item"><a href="https://www.facebook.com/indiancsr/"  target="_blank" ><i class="fab fa-facebook-f"></i></a></li>
                    <li class="item"><a href="https://twitter.com/INDIACSR"  target="_blank" ><i class="fab fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="links">
            <h3>USEFUL LINKS </h3>
            <ul>
                <li><a href="https://csrrajasthangov.in/"  target="_blank">CSR Rajasthan</a></li>
                <li><a href="https://csr.odisha.gov.in/"  target="_blank">CSR Odisha</a></li>
            </ul>
        </div>
        
<!-- =============================EmailSubscription============================================================================== -->
        <div class="subscribe">
            <h3>Subscribe to Stay Aware for the Upcoming Events </h3>
              <!-- Should be stored in database--> <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="#">
                    <div class="input-group">
                        <input type="email" value="" name="EMAIL" id="mce-EMAIL" required="required" class="control">
                        <span class="input-group-btn">
                            <button class="sub-button" style="font-size:24px"><i class="fa fa-send"></i></button>
                        </span>
                    </div>
                
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_97f1bc02efa56031b67a2b00f_fc7b4ce646" tabindex="-1" value=""></div>
                </form>
       </div>
<!-- =============================EndOfEmailSubscription================================================================         -->
    </div>
</div>

<!-- POPUP -->
<div class="container">
    

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="bod" style="height: 300px">
                
                    <!--POPUP-->
                        
                        
                        
                        <div class="login">
	                        <h1>Login</h1>
                                <form action="/login" method="POST">
    	                            <input type="text" name="username" id="username" placeholder="Username" required="required" />
                                    <input type="password" name="password" id="password" placeholder="Password" required="required" />
                                    <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
                                </form>
                        </div>
                        
                
                        
                    <!-- END POPUP-->
                
            </div>
        </div>
        </div>
    </div>
<!-- =============================================news-Modal============================================-->


    

        <!-- Modal -->
        <div class="modal fade" id="newsModal" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="bod" style="height: 300px">
                    
                        <!--POPUP-->
                            
                            
                        <span> <a class="twitter-timeline" data-width="500" data-height="800" data-link-color="#E81C4F" href="https://twitter.com/INDIACSR?ref_src=twsrc%5Etfw">Tweets by INDIACSR</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></span>
                           
                            
                    
                            
                        <!-- END POPUP-->
                    
                </div>
            </div>
            </div>
      

<!-- =============================================Signup-Modal============================================-->

<div class="modal fade" id="myModal-signup" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="bod" style="height: 300px">
                <!--POPUP-->
                       <div>
                       
                       <ul class="su-cont">
                          <a href="signup/Govt.html"> <li class="su-cat" ><p>We are Government Department</p></li></a`>
                           <a href="signup/company.html"><li class="su-cat" ><p>I <br>am a<br> Company</p></li></a>
                          <a href="signup/Service.html"> <li class="su-cat" ><p>Service<br>Provider</p></li></a>
                          <a href="signup/Individual.html"> <li class="su-cat" ><p>I am<br> an Individual</p></li></a>
                       </ul>
              
                       </div>
                        
                    
   
</div>
<script>
    function usertype() {
        var userType = $('.activelist').attr('value');
        window.location.href = baseUrl + '/registration/' + userType + '.html';
    }
    $(document).ready(function () {
        $('.regsttype li .regstlist').click(function () {
            $(".regstlist.activelist").removeClass("activelist");
            $(this).addClass('activelist');

        });
    });
</script>

</div>
        </div>
        <!-- </div>-->
    <div class="gsc_modal_close" data-gsc_modal-close="gsp_modal_1551193833018"></div></div><div class="gsc_modal " data-gsmodal-name="gsp_modal_1551193833020" data-gsmodal-disableoverlayclick="0"><div class="gsc_modal_wrapper gsc_modal_vmiddle" style="height: auto; max-height: 90%; max-width: 90%; width: 900px;"><div data-gsp-modal="" id="csrSummit" class="modal fade" style="display: none;" data-gsmodal-content="">
           <!-- <div class="modal-dialog">-->
                <button type="button" class="close" data-dismiss="modal">×</button> 
                
                <div class="modal-content">      
                        
                    <div class="modal-body"><div class="registration-popup">
    <h2 class="csrblock-title"><span>Register as a</span></h2>
    <ul class="regsttype">
        <li>
            <div class="regstlist govt activelist" value="government" title="We are Government Department">
                <i class="icon-ashok-symbol"></i>

                <strong class="title">We are <br>Government<br>Department</strong>


            </div>
        </li>
        <li>
            <div class="regstlist" value="corporate" title="I am Company">

                <i class="icon-building"></i>

                <strong class="title">I am a<br>Company</strong>
                <span class="selectedlist"><i class="sprite listselectedicon"></i></span>

            </div>
        </li>
        <li>
            <div class="regstlist" value="ngo" title="I ams a Implementing Agency">
                <i class="icon-save-earth"></i>

                <strong class="title">I am an <br>Implementing<br>Agency</strong>
                <span class="selectedlist"><i class="sprite listselectedicon"></i></span>

            </div>
            <!--<span class="vborder"></span>-->
        </li>
        <li>
            <div class="regstlist" value="individual" title="I am an Individual">
                <i class="icon-user"></i>

                <strong class="title">I am an<br>Individual</strong>

                <span class="selectedlist"><i class="sprite listselectedicon"></i></span>
            </div>
           <!-- <span class="vborder"></span>-->
        </li>
        <li>
            <div class="regstlist" value="serviceprovider" title="I am a Service Provider">
                <i class="icon-service-provider"></i>

                <strong class="title">I am a<br>Service Provider</strong>

                <span class="selectedlist"><i class="sprite listselectedicon"></i></span>
            </div>
           <!-- <span class="vborder"></span>-->
        </li>
        
        
    </ul>
    <div class="btnblock">
        <button type="button" class="btn btn-default btn-popup" onclick="usertype();">Continue</button>
        <p class="title" style="margin-top:10px;"><a href="https://csrrajasthangov.in/admin/site/login" title="Login">  Already a member? Sign In</a></p>
    </div>
</div>
<script>
    function usertype() {
        var userType = $('.activelist').attr('value');
        window.location.href = baseUrl + '/registration/' + userType + '.html';
    }
    $(document).ready(function () {
        $('.regsttype li .regstlist').click(function () {
            $(".regstlist.activelist").removeClass("activelist");
            $(this).addClass('activelist');

        });
    });
</script>
                        
                    <!-- END POPUP-->
                
            </div>
        </div>
        </div>
    </div>

<!-- ===========================================================================================signup -->

<script src="index.js"></script>


<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>

<!-- jQuery Easing -->
<script src="js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="js/jquery.waypoints.min.js"></script>
<!-- countTo -->
<script src="js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/magnific-popup-options.js"></script>
<!-- Stellar -->
<script src="js/jquery.stellar.min.js"></script>
<!-- Donation PopUp-->
<script src="js/donation-popup.js"></script>
<!-- Main -->
<script src="js/main.js"></script>
            
</body>
</html>
